h1 {
    text-align: center;
}

.board {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 0px;
  text-align: center;
}

table{
  margin: auto;
  border-spacing: 0px;
}

.cell0{
  border-left: 0;
  border-top: 0;
}

.cell1{
  border-top: 0;
}

.cell2{
  border-top: 0;
  border-right: 0;
}

.cell3{
  border-left: 0;
}

.cell5{
  border-right: 0;
}

.cell6{
  border-left: 0;
  border-bottom: 0;
}
.cell7{
  border-bottom: 0;
}
.cell8{
  border-right: 0;
  border-bottom: 0;
}
